
<h1 class="super-text"> My Bookings</h1>
    <div class="row">
       <div class="col">
        <div class="grid booked-grid mb-5">
          <% current_user.bookings.each do |booking| %>
           <div class="booked-superhero details-card d-flex flex-column mt-5 mb-0">
             <div class="superhero-booked-info">
                <div class="flexbox booking-details flex-column align-right mb-1">
                  <div class="booking-info"><span><strong>Date:</strong> <%= booking.date.strftime('%B, %d, %Y') %></span></div>
                  <div class="booking-info"><span><strong>Event:</strong> <%= booking.event %></span></div>
                  <div class="booking-info"><span><strong>Location:</strong> <%= booking.location %></span></div>
                </div>
                <hr width="67%" align="left">
                 <div><h1 class="super-text mt-2" style="font-size: 18px"><%= booking.superhero.name %></h1></div>
             </div>
             <%= cl_image_tag booking.superhero.img_url.key, crop: :thumb, gravity: :face, class: "super-hero-booking-picture mr-4" %>
             <div class="edit-delete-cancel-btn mt-3">
              <%= link_to 'Edit', edit_superhero_booking_path(booking.superhero, booking), class: "change-btn"%>
              <%= link_to "Cancel",
               superhero_booking_path(booking.superhero, booking),
               method: :delete,
               data: { confirm: 'Are you sure you want to cancel?'},
               class: "change-btn" %>
             </div>
           </div>

         <%end%>
        </div>
       </div>
    </div>


