<h1 class="super-text mb-5">My Superguard Listings</h1>
<div class="mb-5">
  <div class="grid booked-grid mb-5">
          <% @superheros.each do |superhero| %>
           <div class="index-card">
  <div>
    <div class="index-card-image-box">
    <%# add a conditional to check if image exists below, else display placeholder %>
    <% if superhero.img_url.attached? %>
      <%= cl_image_tag superhero.img_url.key, class: "index-card-image", crop: :thumb, gravity: :face %>
      <% else %>
      <%= image_tag "questionmark.jpg", class: "index-card-image", crop: :thumb, gravity: :face %>
      <% end %>
      <div class="price-chip">
        <h3 class="superhero-price">$<%= superhero.hourly_price %>/hr</h3>
      </div>
    </div>
  <div class="superhero-details">
    <div class="superhero-attributes">
      <h2 class="superhero-name"> <%= superhero.name %> </h2> 
      <h4 class="superhero-powers"><em><strong>Power: </strong> <%= superhero.superpower %></em></h4>
      <h4 class="superhero-powers"><em><strong>City: </strong> <%= superhero.city %></em></h4>
    </div>
  </div>
  </div>
  <%= link_to "Edit Superhero", edit_superhero_path(superhero), class: "badge badge-pill" %>
  <%= link_to "Unlist Superhero", superhero_path(superhero),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: "badge badge-pill" %>
  <%= link_to "View Superhero Profile", superhero_path(superhero), class: "badge badge-pill" %>
</div>
         <%end%>
        </div>
        <%= link_to "Create Superhero", new_superhero_path, class: "btn dark-blue-btn-outline mr-1" %>

</div>
 