<%= simple_form_for [@superhero, @booking] do |f| %>
    <div class="form-group">
      <div class="field">
        <%= f.input :date, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.input :number_of_hours, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.input :event, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.input :location, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.button :submit, class: "btn dark-rd-btn btn-block" %>
      </div>
    </div>
<% end %>