 <%= simple_form_for(@superhero) do |f| %>
    <div class="form-group">
      <div class="field">
        <%= f.input :name, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.input :city, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.input :superpower, class: "form-control" %>
      </div>
      <div class="field">
        <%= f.input :hourly_price, class: "form-control" %>
      </div>
      <div class="field"> 
        <%= f.input :img_url, as: :file "form-control"%>
      </div>
      <div class="field">
        <%= f.button :submit, class: "btn btn-info" %>
      </div>
    </div>
<% end %>