<div class="index-heading mb-5">
  <h4 class="search-params">
  <%= @superheros.count %> superheroes | August 19 - 20
  </h4>
  <h1 class="location-params">
  Superguards in Your Area
  </h1>
  <div class="heading-option-buttons">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Enter City" aria-label="Search">
    <%# create a dropdown with list of cities available for above input %>
    <input class="form-control mr-sm-2" type="search" placeholder="Enter Date" aria-label="Search">
    <%# create a calendar where you can select one date for above input %>
    <%= link_to "Price", "#", class: "btn dark-rd-btn mr-2"%>
    <%= link_to "More filters", "#", class: "btn dark-rd-btn mr-2"%>
    <button class="btn dark-rd-btn-outline mr-2" type="submit">Find</button>
  </form>
    
  </div>
</div>

<div class="row">
<div class="col-lg-8 border-right">
  <div class="superhero-grid">
<% @superheros.each do |superhero| %>
<div class="index-card">
  <%= image_tag "batman.png", class: "index-card-image" %>
  <div class="superhero-details">
    <div class="superhero-attributes">
      <h2 class="superhero-name"> <%= superhero.name %> </h2> 
      <h4 class="superhero-powers"><em><%= superhero.superpower %></em></h4>
      <h4 class="superhero-powers"><em><%= superhero.city %></em></h4>
    </div>
    <div>
      <h3 class="superhero-price">$<%= superhero.hourly_price %>/hr</h3>
    </div>
  </div>
  <%= link_to "Book #{superhero.name}", "#", class: "btn dark-blue-btn btn-block"%>
</div>
<% end %>
</div>
</div>
<div class="col-lg-4">
  <div id="map" data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" class="ml-2"></div>
</div>
</div>
