<div class="index-heading mb-3">
  <h1 class="huge-name">
    <%= @superhero.name %>
  </h1>
</div>

<div class="row">
  <div class="col-lg-7 border-right">
    <div class="superhero-details-card mb-3 pb-3">
    <% if @superhero.img_url.attached? %>
      <%= cl_image_tag @superhero.img_url.key, crop: :thumb, gravity: :face, class: "super-hero-picture mr-4" %>
      <% else %>
      <%= image_tag "questionmark.jpg", crop: :thumb, gravity: :face, class: "super-hero-picture mr-4" %>
      <% end %>
      <div class="superhero-info">
        <h1 class="super-text"><%= @superhero.name %></h1>
        <div class="flexbox d-flex mb-3">
          <div><i class="far fa-star"> <%= @superhero.reviews.length > 0 ? (@superhero.reviews.average(:rating)).round(2) : 5.00 %></i></div>
          <div class="hero-city ml-3"><span><%= @superhero.city %></span></div>

        </div>
        <h4 class="">Superpower: <%= @superhero.superpower %></h2>
        <p><%= @superhero.description %></p>
        <div class="save-share-icons">
        <div class="share-icon mr-2"> <i class="far fa-share-square"> Share</i></div>
        <div class="favorite-icon"><i class="far fa-heart"> Save</i></div>
      </div>
      </div>
    </div>
    <div class="reviews-show">
      <div class="reviews-header mb-5">
        <h1 class="mr-3">Reviews</h1>
        <%= link_to "Create review", new_superhero_review_path(@superhero), class: "btn dark-blue-btn-outline btn-lg" %>
      </div>
      <div class="reviews-display">
        <% @superhero.reviews.each do |review| %>
          <div class="review-card mb-3">
            <h4 mb-2><%= review.rating %>/5</h4>
            <p><%= review.description %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="checkout-column">
      <div class="booking-card mb-3">
        <div class="booking-details">
          <span><strong>$<%= @superhero.hourly_price %></strong>/hour</span>
          <i class="far fa-star"><%= @superhero.reviews.length > 0 ? (@superhero.reviews.average(:rating)).round(2) : 5.0 %></i>
        </div>
        <form>
          <div class="form-group" style="font-family:'Work Sans, Helvetica, sans-serif'">
            <label for="exampleInputEmail1"></label>
            <input type="date" class="form-control" id="exampleInputDate" aria-describedby="dateHelp" placeholder="Date">
          </div>
          <div class="form-group" style="font-family:'Work Sans, Helvetica, sans-serif'">
            <label for="exampleInputEvent"></label>
            <input type="text" class="form-control" id="exampleInputEvent" placeholder="Event">
          </div>
          <div class="form-group" style="font-family:'Work Sans, Helvetica, sans-serif'">
            <label for="exampleInputLocation"></label>
            <input type="text" class="form-control" id="exampleInputLocation" placeholder="Location">
          </div>
          <button type="book" class="btn dark-rd-btn w-100 mt-2">Book</button>
        </form>
      </div>
    </div>
  </div>
</div>
