<div class="container">
  <div class="superhero-show-header-content px-4 py-1">
    <h1 style="font-family:'Russo One, sans-serif'"><%= @superhero.name %></h1>
     <div class="flexbox superhero-header-nav d-flex justify-content-between">
       <div class="flexbox d-flex">
         <div><i class="far fa-star"> 4.8</i></div>
         <div class="hero-city ml-3"><span><%= @superhero.city %>, United States</span></div>
       </div>
       <div class="save-share-icons d-flex flex-row">
         <div class="share-icon mr-2"> <i class="far fa-share-square"> Share</i></div>
         <div class="favorite-icon"><i class="far fa-heart"> Save</i></div>
       </div>
     </div>
  </div>
</div>


<div class="container show-container">
  <div class="row">
    <div class="col-6 mt-2">
       <%= cl_image_tag @superhero.img_url.key, height: 300, width: 400, crop: :fill, class: "super-hero-picture" %>
       <div class="about-content-header my-3">
         <div class="content-header"><h3 style="font-family: 'Lato, sans-serif';">Super Bodyguard by <%= @superhero.name %></h3></div>
         <img class="avatar" alt="avatar"src="https://i.pinimg.com/originals/59/a1/c7/59a1c7e4cb84ca48d265e63295fd8eb6.jpg" />
       </div>
      <div class="about-content my-1 py-1" style="font-family: 'Lato, sans-serif';">
        <span>
          <%= @superhero.superpower %>
          <%= @superhero.city %>
        </span>
      </div>
    </div>
    <div class="col-6">
      <div class="container book-form-container mt-0" style="width: 480px";>
        <div class="book-sidebar mt-4 py-4 ml-2" style="width: 460px; border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;">
           <div id="book-sidebar-date">
             <div class="book-price-row">
              <div class="book-price-rating d-flex justify-content-between mt-0">
                <span><strong>$<%= @superhero.hourly_price %></strong>/hour</span>
                <i class="far fa-star">4.8</i>
              </div>
             </div>
             <div>
              <form>
                <div class="form-group" style="font-family:'Work Sans, Helvetica, sans-serif'">
                  <label for="exampleInputEmail1"></label>
                  <input type="date" class="form-control" id="exampleInputDate" aria-describedby="dateHelp" placeholder="Date">
                </div>
                <div class="form-group" style="font-family:'Work Sans, Helvetica, sans-serif'">
                  <label for="exampleInputEvent"></label>
                  <input type="text" class="form-control" id="exampleInputEvent" placeholder="Event">
                </div>
                <div class="form-group" style="font-family:'Work Sans, Helvetica, sans-serif'">
                  <label for="exampleInputLocation"></label>
                  <input type="text" class="form-control" id="exampleInputLocation" placeholder="Location">
                </div>
                <button type="book" class="btn dark-rd-btn w-100 mt-2">Book</button>
               </form>
             </div>
           </div>
        </div>
    </div>
  </div>
<div>

