<div class="index-heading mb-3">
  <h1 class="huge-name">
    <%= @superhero.name %>
  </h1>
</div>

<div class="show-superhero">
  <div class="super-and-reviews">
    <div class="superhero-details-card mb-5">
    <% if @superhero.img_url.attached? %>
      <%= cl_image_tag @superhero.img_url.key, crop: :thumb, gravity: :face, class: "super-hero-picture mr-4" %>
      <% else %>
      <%= image_tag "questionmark.jpg", class: "super-hero-picture mr-4" %>
      <% end %>
      <div class="superhero-info">
        <div class="flexbox d-flex mb-3">
          <div><i class="far fa-star"> <%= @superhero.reviews.length > 0 ? (@superhero.reviews.average(:rating)).round(2) : 5.00 %></i></div>
          <div class="hero-city ml-3"><span><%= @superhero.city %></span></div>
        </div>
        <h4 class="">Superpower: <%= @superhero.superpower %></h2>
        <p><%= @superhero.description %></p>
        <div>
        <%= link_to "Add to Favorites", superhero_favorite_path(@superhero), method: :post, class: "btn dark-blue-btn" %>
        <%= link_to "Remove from Favorites", superhero_favorite_path(@superhero), method: :delete, class: "btn dark-blue-btn-outline" %>
        </div>
      </div>
    </div>
    <div class="reviews-show mb-5">
      <div class="reviews-header mb-3">
        <h1 class="mr-3">Reviews</h1>
        <div>
          <%= link_to "New Review", new_superhero_review_path(@superhero), class: "btn dark-blue-btn-outline" %>
        </div>
      </div>
      <div class="reviews-display mb-3">
        <%  if @superhero.reviews.blank? %> 
        <%= @superhero.name %> has no reviews!
        <% else %>
        <% @superhero.reviews.each do |review| %>
          <div class="review-card mb-3">
            <div class="mb-1">
              <% review.rating.times do %>
            <span>⚡︎</span>
            <% end %>
            </div>
            <p><%= review.description %></p>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="checkout-column mb-5">
    <div class="booking-card ml-5">
      <div class="booking-details mb-3">
        <span><strong>$<%= @superhero.hourly_price %></strong>/hour</span>
        <i class="far fa-star"><%= @superhero.reviews.length > 0 ? (@superhero.reviews.average(:rating)).round(2) : 5.00 %></i>
      </div>
      <div class="booking-form">
        <%= render "shared/form_booking" %> 
      </div>
    </div>
      </div>
    </div>
  </div>
  

</div>



</div>

