<div class="index-heading mb-3">
  <h1 class="huge-name">
    <%= @superhero.name %>
  </h1>
</div>

<div class="row">
  <div class="col-lg-7 border-right">
    <div class="superhero-details-card">
      <%= cl_image_tag @superhero.img_url.key, crop: :thumb, gravity: :face, class: "super-hero-picture mr-4" %>
      <div class="superhero-info">
        <h1 class="super-text"><%= @superhero.name %></h1>
        <div class="flexbox d-flex mb-3">
          <div><i class="far fa-star"> 4.8</i></div>
          <div class="hero-city ml-3"><span><%= @superhero.city %></span></div>

        </div>
        <h4 class="">Superpower: <%= @superhero.superpower %></h2>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="checkout-column">
      <div class="booking-card mb-3">
          <div class="booking-details">
            <span><strong>$<%= @superhero.hourly_price %></strong>/hour</span>
            <i class="far fa-star">4.8</i>
          <div>
            <%= render "shared/form_booking" %>
          </div>
          <div class="save-share-icons">
            <div class="share-icon mr-2"> <i class="far fa-share-square"> Share</i></div>
            <div class="favorite-icon"><i class="far fa-heart"> Save</i></div>
          </div>
      </div>
    </div>
  </div>
</div>


