<!DOCTYPE html>
<html>
  <head>
    <title>RailsSuperheroForRent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Russo+One&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="default-container">
      <%= yield %>
    </div>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default">
      </script>
    <div class="footer mt-5 d-flex justify-content-between fixed-bottom">
      <p class="footer-text">Made with ♥️ at LeWagon Mexico</p>
      <span><a href="#"><i class="fab fa-instagram"></i></a>
       <a href="#"><i class="fab fa-facebook"></i></a>
       <a href="#"><i class="fab fa-twitter"></i></a></span>
    </div>
  </body>
</html>
